<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new post</title>
</head>
<body>
    <form action="/posts/new" method="POST">
        <input name="id" placeholder="Enter id"><br><br>
        <input name="name" placeholder="Enter name"><br><br>
        <textarea name="content" rows="5" cols="20" placeholder="Enter content"></textarea><br>
        <button>Submit</button>
    </form>
</body>
</html>