<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See post in detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="post"></div>
    <p>Post id: <%= post.id %></p>
    <div class="post">
        <h3 class="name">@<%= post.name %> <br></h3>
        <h4 class="content"><%= post.content %> <br></h4>
        </div>
</body>
</html>